

<section class="my-10">
  <h1 class="text-center text-4xl font-bold text-sky-600">Lonked Posts</h1>

  <form
    class="w-[50%] mx-auto my-5 rounded-lg p-5 bg-white px-5"
    [formGroup]="changePassForm()"
    (ngSubmit)="changePassword()"
  >
    <app-input
      [control]="changePassForm().get('password')"
      [id]="'password'"
      [label]="'password'"
    >
      <li>
        Password must has At least one uppercase letter(A–Z),least one lowercase
        letter (a–z),least one digit (0–9), least one special character
        (#?!@$%^&*-) &&At least 8 characters total
      </li>
    </app-input>

    <app-input
      [control]="changePassForm().get('newPassword')"
      [id]="'password'"
      [label]="'NewPassword'"
    >
      <li>
        Password must has At least one uppercase letter(A–Z),least one lowercase
        letter (a–z),least one digit (0–9), least one special character
        (#?!@$%^&*-) &&At least 8 characters total
      </li>
    </app-input>



    <button class="form-btn">
      LogIn @if( this.loading() === true ) {
      <i class="fa-solid fa-circle-notch fa-spin"></i>
      }
    </button>


  </form>
</section>
