<section class="my-10">
  <h1 class="text-center text-4xl font-bold text-sky-600">Lonked Posts</h1>

  <form
    class="w-[50%] mx-auto my-5 rounded-lg p-5 bg-white px-5"
    [formGroup]="signInForm()"
    (ngSubmit)="signIn()"
  >
    <app-input
      [control]="signInForm().get('email')"
      [id]="'email'"
      [label]="'Email'"
      [type]="'email'"
    >
    </app-input>

    <app-input
      [control]="signInForm().get('password')"
      [id]="'password'"
      [label]="'Password'"
    >
      <li>
        Password must has At least one uppercase letter(A–Z),least one lowercase
        letter (a–z),least one digit (0–9), least one special character
        (#?!@$%^&*-) &&At least 8 characters total
      </li>
    </app-input>


 @if( errorMsg()) {

   <li
  class="mt-5 flex items-center p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
  role="alert"
>
  <svg
    class="shrink-0 inline w-4 h-4 me-3"
    aria-hidden="true"
    xmlns="http://www.w3.org/2000/svg"
    fill="currentColor"
    viewBox="0 0 20 20"
  >
    <path
      d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
    />
  </svg>

  <div>
    <span class="font-medium"></span>
    <li> {{ errorMsg()}} </li>
  </div>
</li>
 }
    <button class="form-btn">
      LogIn @if( this.loading() === true ) {
      <i class="fa-solid fa-circle-notch fa-spin"></i>
      }
    </button>

    <p class="text-center mt-5">
      You have no account
      <span
        routerLink="/register"
        class="cursor-pointer text-sky-600 underline font-black"
      >
        Sign Up
      </span>
    </p>
  </form>
</section>
